@model List<MusicCommunityApp.Models.Message>
@{
    ViewBag.Title = "Forum";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a href="@Url.Action("NewMessageForm", "Forum")" class="btn btn-success center-block" style="margin-top:30px;">
                Add a Message
            </a>

            @foreach (var m in Model)
            {

                <div class="messages center-block">
                    <h4 class="pull-left">Subject: <b>@m.Subject</b></h4>
                    <h4 class="pull-right">Event: <b>@m.EventName</b></h4><br />
                    <hr class="noMargin">
                    <p class="created_post">@m.Body </p>

                    <p class="postInfo pull-right">
                        @m.From.FirstName @m.From.LastName <i>@m.Date.ToString("d")</i>
                    </p>
                    <a href="@Url.Action("CommentForm", "Forum",new {id=m.MessageID})" class="btn btn-primary pull-left" style="margin-top:30px;">
                        Comment
                    </a>
                </div>

                @foreach (var c in m.Comments)
                {
                    <div class="comments center-block">
                        <p class="comment_text">@c.Body</p>
                    </div>
                }
                
               


            }
        </div>
    </div>
</div>


