@model List<MusicCommunityApp.Models.Message>
@{
    ViewBag.Title = "My Messages";
}

<h1>List of My Messages</h1>
        @foreach (var m in Model)
        {
            @: Subject: @m.Subject <br>
            @: Body: @m.Body <br><br>
            @: Date: @m.Date <br><br>
            @: From: @m.From<br><br>
            @: Event: @m.Event <br> <br>
        }